%btns {
  height: 40px;
  border-radius: 8px;
  background-color: rgba(128, 0, 128, 0.678);
  color: #f4f4f4;
  font-size: 20px;
  margin: 0px 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;

  &__buttons {
    display: flex;
    justify-content: center;

    &-options {
      @extend %btns;
    }

    // &-decrement {
    //   @extend %btns;
    // }
  }

  &__result {
    display: flex;
    font-size: 20px;
    padding: 20px 0px;
    justify-content: center;
  }
}
