.container {
  display: flex;
  flex-direction: column;
  &__inscription {
    margin-top: 5rem;
    h2 {
      color: #2364aa;
    }
    p {
      color: #4ecdc4;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: darken(#4ecdc4, 20%);
    }
  }
}
