$primary-color: grey;
$primary-color-1: rgb(255, 115, 0);
$primary-color-2: rgb(177, 109, 245);
$primary-color-3: #f4f4f4;
$primary-pointer: pointer;

$bgColorList: #930a0a, #930a0a, #df6e01, #dfb101, #facf21;
