.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  &__filter {
    margin-bottom: 2rem;
    &-input {
      padding: 10px;
      border-radius: 10px;
      border-color: #2364aa;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width: 100%;
    color: #2364aa;
    cursor: pointer;
  }
}
